* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}
/*サイドバー*/
.Side-bar{
  background-color: #253141;
  width: 300px;
  &__user{
    background-color: #253141;
    height: 100px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    &__top-items{
      width: 260px;
      height: 20px;
      display: flex;
      justify-content:space-between ;
      &__name{
        color: #ffffff;
        font-size: 16px;
      }
      &__icons{
        display: flex;
        justify-content: flex-end;
        width: 60px;
        &__btn-icon{
          .fas{
            color: #ffffff;
            margin: 0 0 0 5px;
         }
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
      height: 100vh; 
      &__group{
        padding: 20px 20px 40px 20px;
        &__group-name{
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
        }
        &__group-message{
            font-size: 11px;
            font-weight: bold;
            margin-top: 5px;
            color: #ffffff;
        }
      }
  }
}
/*メインチャット*/
 /*チャットインフォの実装*/
.Chat-main{
  background-color: #ffffff;
  width: calc( 100vw - 300px );
  &__info{
    background-color: #ffffff;
    border-bottom: solid 1px #eeeeee;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__chat-user{
      &__chat-name{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__chat-member{
        display: flex;
        color: #999999;
        margin-top: 15px;
        font-size: 12px;
      }
      &__edit{
        color: #38aef0;
        font-size: 16px;
        border: solid 1px #38aef0 ;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0px 20px;
        text-decoration: none;
        display: block;
      }
    }
  }

 /*メッセージリストの実装*/
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 90px);
    padding: 35px 40px 0px;
    &__message-box{
      margin-bottom: 46px;
      &__message-name{
        padding-bottom: 12px;
        display: flex;
        &__user-name{
          color: #333333;
          font-size: 16px;
        }
        &__time{
          color: #999999;
          font-size: 12px;
          padding: 0 0 0 10px ;
        }
      }
      &__message-word{
        color: #434A54;
        font-size: 14px;
      }
    }
  }

 /*フォームの実装*/
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px 20px 50px;
    .Form-box{
      display: flex;
      justify-content: space-between;
      &__form-contents{
        width: 100%;
        height: 50px;
        display: flex;
        position: relative;
        &__text-box{
          width: 100%;
          padding: 0px 10px;
          margin-right: 15px;
          border: none;
        }
        &__image{
          height: 50px;
          position: absolute;
          top: 10px;
          right: 30px;
        }
        .File{
            display: none;
          }
      }
      &__submitBtn{
        color: #fff;
        background-color: #38aef0;
        border: none;
        padding: 0px 30px;
      }
    }
  }
}